<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840040500916-97j6dio4k64odgmc8tt8maifcc4jic3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840040500916-97j6dio4k64odgmc8tt8maifcc4jic3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840040500916-vcinogp713dc9maab2nhj3b3o0ed0fcq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3p0FSA7Brf-XnoUt0UVrmQiW_lqDrEm8</string>
	<key>GCM_SENDER_ID</key>
	<string>840040500916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macaulaygidado.hostapp</string>
	<key>PROJECT_ID</key>
	<string>guestregistration-4140a</string>
	<key>STORAGE_BUCKET</key>
	<string>guestregistration-4140a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840040500916:ios:03cb15d7d7da296fb091e1</string>
	<key>DATABASE_URL</key>
	<string>https://guestregistration-4140a.firebaseio.com</string>
</dict>
</plist>